body{
    background-color:#000000;
}

.Groen{
    color:#3DFF03;
    font-size: 46px;
}
.Oranje{
    color:#FF8C03;
    font-size: 90px;
}
.Blauw{
    color:#0346FF;
    font-size: 100px;
}
.Rood{
    color:#FF0303;
    font-size: 70px;
}
.Geel{
    color:#F0FF00;
    font-size: 80px;
}